@import '../../../node_modules/codyhouse-framework/main/assets/css/base';
@import '/_custom-style.scss';
@import '/base.scss';
/* Basic */
*,*::after,*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

/* Variables */

:root {
    --primary-color: hsl(26, 100%, 55%);
    --secondary-color: hsl(25, 100%, 94%);
    --dark-blue-color:hsl(220, 13%, 13%);
    --dark-greyish-blue-color: hsl(219, 9%, 45%);
    --greyish-blue-color: hsl(220, 14%, 75%);
    --light-grayish-blue-color: hsl(223, 64%, 98%);
    --white-color: hsl(0, 0%, 100%);
    --black-color:hsl(0, 0%, 0%);
    --h1-font-size: 3rem;
    --h2-font-size: 2.6rem;
    --paragraph-font-size: 1.6rem;
}

@media screen and (max-width: 658px) {
    :root {
        --h1-font-size: 3.247rem;
        --h2-font-size: 2.887rem;
        --paragraph-font-size: 1.8rem;
    }

}

/* TypoGraphy */
body {
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--dark-blue-color);
    margin: 0;
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--dark-blue-color);
    margin: 0;
}

p {
    font-size: var(--paragraph-font-size);
    color: var(--dark-greyish-blue-color);
    margin: 0;
}

/* Hero */

.hero {
    /* height: 50vh; */
    position: relative;
    max-width: 100%;
    
}

.hero__image {
    width: 100%;
}

.hero__chevron {
    width: 43px;
    height: 43px;
    padding: 1.2rem;
    background-color: white;
    border-radius: 100%;
    position: absolute;
}

.chevron-one {
    top: 45%;
    left: 2rem;
}

.chevron-two {
    right: 2rem;
    top: 45%;
}

/* Main */


.main {
    padding: 2rem;
    
}

.main__tagline {
    color: var(--primary-color);
    font-size: calc(var(--paragraph-font-size) - 40%);
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.main__heading {
    margin-bottom: 1.2rem;
}

/*Main-Price section*/
.price-section {
    margin-top: 2rem;
    position: relative;
}
.price-section__price {
    font-size: var(--h1-font-size);
    color: var(--dark-blue-color);
    font-weight: 600;
}

.price-section__discount {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: 600;
    border-radius: 5px;
    padding:0.5rem 1rem;
    position: relative;
    left: 3rem;
    bottom: 0.5rem;
}

.price-section__old-price {
    text-decoration: line-through;
    font-weight: bold;
    opacity: 75%;
    position: absolute;
    right: 0;
    top: 1rem;
}

.price-section p {
    display: inline;
}

/* Cart */

.cart-amount {
    background-color: var(--light-grayish-blue-color);
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.cart__img {
    width: 25px;
    height: 25px;
}

.cart__minus {
    position: absolute;
    top: 45%;
    left: 2rem;
    width: 15px;
    height: 5px;
}

.cart__plus {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25%;
    right: 2rem;
}

.cart-amount__amount {
    position: relative;
    left: 49%;
    font-weight: bold;
    color: var(--dark-blue-color);
}

/* Btn */
.btn__cart {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 2rem;
    outline: 0;
    border: 0;
    background-color: var(--primary-color);
    box-shadow:  1px 1px 20px var(--secondary-color);
    cursor: pointer;
}

.swiper-button:focus {
    outline: 0;
    border: 0;
}

.swiper-button {
    color: white;
}

.btn__text {
    color: white;
    font-weight: bold;
    font-size: calc(var(--paragraph-font-size) - 0.2rem);
    position: relative;
    top: -0.1rem;
}

.cart-icon {    
    height: 35px;
    width: 35px;
    fill: white;
    padding-right: 1rem;
    position: relative;
    top: -0.3rem;
    display: inline-block;
}

#button-plus {
    position: absolute;
    top: 28%;
    right: 1.5rem;
    z-index: 69;
    background-image: url(/images/icon-plus.svg);
    background-color: var(--light-grayish-blue-color);
    height: 20px;
    width: 20px;
}

.btn-cart {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    outline: 0;
    border: 0;
    cursor: pointer;
}

#button-minus {
    background-image: url(/images/icon-minus.svg);
    display: inline-block;
    position: absolute;
    right: 1rem; 
    left: 1.5rem;
    top: 45%;
    z-index: 120;
    border: 1px solid var(--primary-color);
}

.minus-div {
    height: 100%;

    width: 30%;
}

/* Header */

.header {
    width: 100%;
    padding: 1.5rem 2rem;
    margin: 0;
    position: relative;
}

.header__avatar {
    width: 30px;
    margin: 0;
    height: 30px;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
}

.header__logo {
    padding-bottom: 1.5rem;
    padding-top: 0.9rem;
    
}

.header__menu {
    padding-bottom: 1.5rem;
    padding-top: 0.9rem;
    margin-right: 1.5rem;
}

.header__icon {
    position: absolute;
    right: 5rem;
    top: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

/* Cart */

#cart {
    position: absolute;
    top: 5rem;
    right: 2rem;
    left: 2rem;
    width: auto;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    z-index: 69;
    display: none;
    transition:display .3s ease;

}

.cart__heading {
    font-weight: 600;
    color: var(--dark-blue-color);
    transition: all .3s ease;
}

.cart__heading-div {
    border-bottom: 1px solid lightgray;
    padding: 2rem;
    transition: all .3s ease;
}

.cart__items-div {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all ease;
}

/* Swiper */
.swiper {
    width: 100%;
    height: auto;
    transition: 0.5s all ease;
  }



/* Function Add to Cart */
.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform .2s;
}

.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content { /* Hide cart */
  transform: translateY(150px);
}

.cd-cart__layout {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: var(--radius);
    transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
    transition-timing-function: cubic-bezier(.67,.17,.32,.95);
    background: var(--cd-color-3);
    box-shadow: 0 4px 30px rgba(#000, .17);
  }
  
  .cd-cart--open .cd-cart__layout {
    height: 100%;
    width: 100%;
    transition-delay: 0s;
  }

  .cd-cart__product--deleted { 
    position: absolute;
    left: 0;
    width: 100%; 
    opacity: 0;
    animation: cd-item-slide-out .3s forwards;
  }
  
  @keyframes cd-item-slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(80px);
      opacity: 0;
    }
  }

  @media screen and (min-width: 658px) {

  }

  /* Cart */
  /* -------------------------------- 

File#: _2_cart-drawer
Title: Cart Drawer
Descr: A cart template in a drawer panel
Usage: codyhouse.co/license

-------------------------------- */
.dr-cart__product {
    display: grid;
    grid-template-columns: 80px 1fr auto;
    grid-gap: var(--space-xs);
    align-items: start;
    padding: var(--space-sm) 0;
  }
  .dr-cart__product:not(:last-child) {
    border-bottom: 1px solid var(--color-contrast-lower);
  }
  
  .dr-cart__img {
    display: block;
    overflow: hidden;
    border-radius: var(--radius-md);
    transition: 0.2s;
  }
  .dr-cart__img img {
    display: block;
  }
  .dr-cart__img:hover {
    opacity: 0.85;
  }
  
  .dr-cart__select {
    --select-icon-size: 0.85em;
    --select-icon-right-margin: var(--space-xxs);
    font-size: 0.875em;
    width: 3.6em;
  }
  .dr-cart__select .select__input {
    padding: var(--space-xxxxs) var(--space-xxxs);
  }
  
  .dr-cart__remove-btn {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-size: var(--text-sm);
    color: var(--color-primary);
    cursor: pointer;
  }
  .dr-cart__remove-btn:hover {
    text-decoration: underline;
  }
  .dr-cart__remove-btn:focus {
    outline: 2px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
    outline-offset: 2px;
  }

  .cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform .2s;
}


@media screen and (min-width: 937px) {
    /* Grid */
    .grid {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

/* Nav */
.nav {
    height: 100vh;
    width: 65vw;
    position: absolute;
    left: 0;
    z-index: 6969;
    background-color: white;
    display: none;
    transition: max-height 0.5s;
}

.nav__list {
    list-style-type: none;
    padding: 2.5rem;
    text-decoration: none;
}

.nav-list__item {
    font-size: var(--paragraph-font-size);
    font-weight: 700;
    margin-top: 1rem;
    
}

.nav-list__item a {
    text-decoration: none;
    color: var(--dark-blue-color);
}

/* Blur */